<app-home-nav></app-home-nav>
<main class="main">

    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                    <p class="who-we-are">About Us</p>
                    <h3>Discover Our Blog Journey</h3>
                    <p class="fst-italic">
                        Welcome to ZenBlog! We are passionate about sharing insightful articles and engaging content on
                        a variety of topics. Our mission is to inspire and inform through quality blogging, creating a
                        space where curiosity meets knowledge.
                    </p>
                    <p>
                        At ZenBlog, we believe that every story has a unique perspective worth sharing. Our dedicated
                        team of writers and contributors come from diverse backgrounds, bringing a wealth of experiences
                        and viewpoints to our blog. Whether you're interested in the latest trends, deep dives into
                        specific subjects, or personal anecdotes, we aim to provide content that resonates with you.
                    </p>
                    <p>
                        Our commitment to excellence is reflected in the careful research and thoughtful analysis we put
                        into each post. We strive to create a platform that not only informs but also entertains and
                        engages our readers. From lifestyle and technology to travel and personal development, our blog
                        covers a broad range of topics, all with the aim of enriching your knowledge and sparking your
                        interest.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"><i class="fa-solid fa-check"></i></i> <span>Expertly crafted
                                blog posts on trending topics, offering fresh perspectives and expert insights.</span>
                        </li>
                        <li><i class="bi bi-check-circle"><i class="fa-solid fa-check"></i></i> <span>In-depth analysis
                                and personal perspectives that encourage thoughtful discussion and reflection.</span>
                        </li>
                        <li><i class="bi bi-check-circle"><i class="fa-solid fa-check"></i></i> <span>Regular updates
                                and fresh content to keep you engaged, with a focus on delivering value and
                                relevance.</span></li>
                        <li><i class="bi bi-check-circle"><i class="fa-solid fa-check"></i></i> <span>A vibrant
                                community where readers can share their thoughts and connect with like-minded
                                individuals.</span></li>
                        <li><i class="bi bi-check-circle"><i class="fa-solid fa-check"></i></i> <span>A user-friendly
                                interface and seamless navigation to enhance your reading experience and make it easy to
                                find content that interests you.</span></li>
                    </ul>
                    <p>
                        We invite you to explore our blog, engage with our content, and join us on this exciting
                        journey. At ZenBlog, we are more than just a blog – we are a community dedicated to lifelong
                        learning and discovery.
                    </p>
                </div>


                <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
                    <div class="row gy-4">
                        <div class="col-lg-6">
                            <img src="/assets/about/about2.jpg" class="img-fluid" alt="Blog Post 1">
                        </div>
                        <div class="col-lg-6">
                            <img src="/assets/about/about4.jpg" class="img-fluid" alt="Blog Post 1">
                        </div>
                        <div class="col-lg-6">
                            <div class="row gy-4">
                                <div class="col-lg-12">
                                    <img src="/assets/about/about1.jpg" class="img-fluid" alt="Blog Post 2">
                                </div>
                                <div class="col-lg-12">
                                    <img src="/assets/about/about3.jpg" class="img-fluid" alt="Blog Post 3">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>

</main>
<app-home-footer></app-home-footer>