
// navbar new
.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}
.dropdown {
    position: relative;
}
.logo {
    width: 200px;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
    color: white;
}
.navbar-nav{    
    // background-color: antiquewhite;
    width: 40vw;
    display: flex;
    justify-content: space-around;
   
}
.nav-link {  
    font-size: 16px; /* Default font size */
    color: #ffffff; /* Default color */
    transition: all 0.3s ease; /* Smooth transition */
  
    &.active {
      font-size: 18px; /* Increased font size for active link */
      color: rgb(255, 243, 243); /* Brighter color for active link */
      font-weight: bold; /* Optional: Make it bold */
      text-decoration: underline;
    }
  
    &:hover {
      color: #f0eaea; /* Slightly brighter on hover */
    }
  }
 
  .header {
    background-color: #000000;
    padding: 0.5rem 1rem;
}
  
.nav-link{
    font-size: large;
    color:rgb(221, 221, 221);
}

.child{
    margin-top: 8vw;
}
.user-profile-dropdown .nav-link svg {
    transition: transform 0.3s ease, fill 0.3s ease;
    fill: currentColor;
    width: 28px;
    height: 28px;
    color: rgb(255, 255, 255);
}

// .notification-image {
//     width: 24px;
//     height: 24px;
//     border-radius: 50%;
// }
.navbar-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar-item .nav-link {
    display: flex;
    align-items: center;
    color:rgb(236, 235, 235);
    padding: 0 10px;
    margin-right: 20px;
}

// log out button

.button {
    border-radius: 20px;
    margin-right: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: rgb(204, 80, 80);
    border: 1px;
    height: 35px;
    margin-left: 10px;
}
.button:hover {
    transform: scale(1.1);
    background-color: #6E6F70;
    color: rgb(214, 64, 64);

    /* Change to your desired color */
}
svg {
    color: #ffffff;
}
svg:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.2);
    // background-color: rgb(47, 218, 132);
    border-radius: 20px;
    padding: 2px;
    transition: transform 0.3s ease, fill 0.3s ease;
}

/* The dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
}
.dropdown-content a:hover {
    background-color: #4d7053;
}
.dropdown:hover .dropdown-content {
    display: block;
}